:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background-color: #0B88FF;
	color: #f1f1f1;
}

a {
  font-weight: 600;
  color: #f1f1f1;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
	background: #0B88FF;
}

h1 {
  font-size: 2.8em;
  line-height: 1.1;
	margin: 12px 0;
	color: #F8F9FA;
}
